{
  "rules": {
    "comma-dangle": [1,"never"],
    "no-cond-assign": [1,"always"],
    "no-constant-condition": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": [1,"functions"],
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"both"],
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-unreachable": 1,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 1,
    "accessor-pairs": [1,{"setWithoutGet":true}],
    "block-scoped-var": 2,
    "consistent-return": 1,
    "curly": [1,"multi-or-nest"],
    "default-case": 1,
    "guard-for-in": 2,
    "no-alert": 1,
    "no-caller": 1,
    "no-else-return": 1,
    "no-eq-null": 1,
    "no-eval": 2,
    "no-extend-native": [1,{"exceptions":["Object"]}],
    "no-fallthrough": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 1,
    "no-labels": 2,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-str": 2,
    "no-native-reassign": [2,{"exceptions":["Object"]}],
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-param-reassign": [1,{"props":true}],
    "no-redeclare": [2,{"builtinGlobals":true}],
    "no-return-assign": [1,"always"],
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 2,
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": [1,"any"],
    "yoda": [1,"always",{"exceptRange":true}],
    "init-declarations": [1,"always"],
    "no-catch-shadow": 1,
    "no-delete-var": 1,
    "no-shadow-restricted-names": 2,
    "no-shadow": [1,{"builtinGlobals":true,"hoist":"all"}],
    "no-undef-init": 1,
    "no-undef": 1,
    "no-undefined": 1,
    "no-unused-vars": 1,
    "no-use-before-define": [1,"nofunc"],
    "constructor-super": 1,
    "no-class-assign": 1,
    "no-const-assign": 2,
    "prefer-const": 1
  }
}