@mixin u-grid($flex-direction: row, $gutter: 0) {
  display: flex;
  flex-direction: $flex-direction;
  margin: -$gutter;
  overflow: hidden;
}

@mixin u-grid__col($size: stretch, $gutter: 0, $align-self: stretch) {
  align-self: $align-self;
  padding: $gutter;
  box-sizing: border-box;
  @if($size == stretch) {
    flex: 1;
  }
  @else {
    flex: 0 0 $size;
  }
}