mixin nav()
    +b.NAV.o-nav()
        +e.col_menu
            +e.A(href="#", title="Menu").menu-btn
                +e.icon
                    +icon("sandwich")
        +e.col_social
            +e.A(href="#", title="").social-btn
                +e.icon
                    +icon("github")
            +e.A(href="#", title="").social-btn
                +e.icon
                    +icon("vimeo")
            +e.A(href="#", title="").social-btn
                +e.icon
                    +icon("twitter")